.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

.about hr {
    width: 250px;
    border-top: 3px solid #666;
}

sectoin{
    min-height: 600px;
}
/* membuat konten atau sectionya tidak terlalu dempet atau nambah */