.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid #666;
}
/* hr nya adalah about apabila ingin semua haus semua jadi semua hr bernilai di css ini */

sectoin{
    min-height: 600px;
}
/* membuat konten atau sectionya tidak terlalu dempet atau nambah */

.portfolio {
    background-color: #666;
}