html{
    position: relative;
}

body {
    margin-bottom: 100px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid #666;
}
/* hr nya adalah about apabila ingin semua haus semua jadi semua hr bernilai di css ini */

sectoin{
    min-height: 600px;
}
/* membuat konten atau sectionya tidak terlalu dempet atau nambah */

.portfolio {
    background-color: #666;
}

.contack {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;

}