html{
    position: relative;
}

body {
    margin-top: 20px;
    margin-bottom: 120px;
}

.jumbotron {
    height: 400px;
    background-image: url('../img/jumbotron.jpg'); // cara keluar folder css ke folder image pakai url dan seterusnya
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: #eaeaea;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #eaeaea;
}

hr {
    width: 250px;
    border-top: 3px solid #666;
}
/* hr nya adalah about apabila ingin semua haus semua jadi semua hr bernilai di css ini */

sectoin{
    min-height: 600px;
}
/* membuat konten atau sectionya tidak terlalu dempet atau nambah */

.portfolio {
    background-color: #666;
}

.contack {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: #aaa;
    font-size: 1em;
}
/* footer p karena di index html dia p */

footer p i {
    color: salmon;
}
/* i yang ada di dalam p yang ada didalam footer */